<ul class="social-icons">
    <li class="social-icons__item"><a href="https://fb.com/pttsky" class="social-icons__link"><i class="fa fa-facebook"></i></a></li>
    <li class="social-icons__item"><a href="https://instagram.com/pitetskyman" class="social-icons__link"><i class="fa fa-instagram"></i></a></li>
    <li class="social-icons__item"><a href="https://github.com/pttsky" class="social-icons__link"><i class="fa fa-github"></i></a></li>
    <li class="social-icons__item"><a href="http://stackoverflow.com/users/6603253/pttsky" class="social-icons__link"><i class="fa fa-stack-overflow"></i></a></li>
    <li class="social-icons__item"><a href="https://codepen.io/pttsky/" class="social-icons__link"><i class="fa fa-codepen"></i></a></li>
    <li class="social-icons__item"><a href="https://t.me/pttsky" class="social-icons__link"><i class="fa fa-telegram"></i></a></li>
</ul>
<p class="email">
    <a href="mailto:serhii.pitetsky@gmail.com">serhii.pitetsky@gmail.com</a>
</p>