<div class="container__title">
    <h1 class="page-title page-title">404 Error</h1>
</div>

<div class="container__content">
    <div class="page-content">
        <p>Page not found</p>
        <p><a class="heading" href="/">Go back home</a></p>
    </div>
</div>