<div class="container__title">
    <h1 class="page-title">About Me</h1>
</div>

<div class="container__content">
    <div class="page-content">
        <p>I am 21 y.o., live in Kyiv, Ukraine</p><p></p>

        <h2 class="heading">Activity</h2>
        <p>I am a software engineer with 1.5 years of experience, JavaScript addict, pursuing Master's degree in IASA, Kyiv Polytechnic Institute.</p><p></p>

        <h2 class="heading">Interests</h2>
        <p>My strengths are math, drawing with pencil, playing guitar and creating all sorts of arts.</p>
    </div>
</div>