<div class="container__title">
    <h1 class="page-title page-title_sitewidee">About Me</h1>
</div>

<div class="container__content">
    <div class="page-content">
        <h2 class="heading">Serhii Pitetsky</h2>
        <p>I am 21 y.o. software engineer with 1.5 years of experience, JavaScript addict, pursuing Master's degree in IASA, Kyiv Polytechnic Institute.</p>
        <p>My strengths are math, drawing with pencil, playing guitar and creating all sorts of arts.</p>
    </div>
</div>