<div class="container__title">
    <h1 class="page-title page-title_sitewide">Pttsky</h1>
</div>
<div class="container__content">
    <div class="page-content">
        <p style="letter-spacing: 2px"><span class="heading">Serhii Pitetsky |</span> developer, musician, artist, mathematician</p>
    </div>
</div>