$f-size-common: 15px;

$f-size-h1: 12em;
$f-size-h2: 8em;
$f-size-h3: 5em;
$f-size-h4: 3em;
$f-size-h5: 1.5em;
$f-size-h6: 1em;

$f-stack-headings: Teko, Impact, sans-serif;
$f-stack-text: Kanit, Calibri, sans-serif;

$fa-font-path: '/fonts/';

$c-text: #222;

$size-lg: 1280px;
$size-md: 992px;
$size-sm: 768px;
$size-min: 320px;