@import url('https://fonts.googleapis.com/css?family=Kanit:400,900|Teko:700');
@import 'var';
@import 'mixins';
@import 'reset';
@import 'font-awesome/font-awesome';

$footer-offset: 110px;
.container {
  position: relative;
  padding-top: 20px;
  padding-bottom: $footer-offset;
  width: 60%;
  margin: 0 auto;
  margin-bottom: -$footer-offset;
  min-width: $size-min;
  min-height: 100%;
  @include block-margin-top;

  &__top-right {
    float: right;
  }
  &__bottom {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
  }
  &__bottom-center {
    margin: 0 auto;
    text-align: center;
  }
  &__title {
    float: left;
    margin-top: 10%;
  }
  &__content {
    clear: both;
  }
}


.nav {
  &__item {
    float: left;
    font-family: $f-stack-headings;
    font-size: $f-size-h5;
    & + & {
      margin-left: 1em;
    }
  }
}

.canvas {
  &_background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
  }
}


.page-title {
  font-size: $f-size-h3;
  font-weight: 900;
  font-family: $f-stack-text;

  &_sitewide {
    font-size: $f-size-h1;
  }
}

.page-content {
  font-size: $f-size-h5;
}

.social-icons {
  display: inline-block;
  @include clear-after;
  &__item {
    float: left;
    & + & {
      margin-left: 1em;
    }
  }
  &__link {
    font-size:$f-size-h4;
  }
}

.heading {
  font-family: $f-stack-headings;
}

@import 'media';